body {
  background-color: #D3D3D1
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 15%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: rgba(0,0,0, 0.1)
 }
